@import url('./index.css');
a:hover{
  text-decoration: none;
}
.blogs {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 2fr;
  row-gap: 1%;
  box-sizing: content-box;
  margin-bottom: 10%;
  justify-content: center;
}

.blog {
  border: 1px solid white;
  padding: 20% 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.blog:hover {
  box-shadow: 0 0 10px #fff;
}

#header-lg {
  display: none
}


@media (min-width: 600px) and (max-width: 1101px) {
  .blogs {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr;
    row-gap: 2%;
    column-gap: 2%;
    box-sizing: content-box;
    /* margin-bottom: 5%; */
  }

  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}

@media (min-width: 1101px) {
  .blogs {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 1fr;
    row-gap: 2%;
    column-gap: 2%;
    box-sizing: content-box;
    /* margin-bottom: 5%; */
  }

  .blog {
    font-size: 4rem;
  }
}